<img [src]="'assets/priorityicons/' + priorityCode.toLocaleLowerCase() + '_ico.png'"
     width="24" height="24"
     [matTooltip]="getPriorityText(priorityCode)"
     class="priority"
     *ngIf="iconOnly"
     [alt]="priorityCode">
<label *ngIf="!iconOnly">
  <img [src]="'assets/priorityicons/' + priorityCode.toLocaleLowerCase() + '_ico.png'"
       width="24" height="24"
       class="priority"
       [alt]="priorityCode">
  {{getPriorityText(priorityCode)}}
</label>
