/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: aliceblue;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.clickable{
  cursor: pointer;
  color: dodgerblue !important;
}

button {
  border-radius: 30px !important;
  outline: none !important;
  i {
    font-size: 1rem;
    padding-bottom: 4px;
  }
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}
.cdk-overlay-connected-position-bounding-box {
  z-index: 100000 !important;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.cdk-drop-list-dragging {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.cdk-drag-preview {
  font-size: 1.3rem;
  font-weight: 300;
}
.mat-tooltip{
  font-size: 1.1rem;
}

.right {
  float: right;
}

.left {
  float: left;
}

.cdk-overlay-pane{
  max-height: 98%;
}

.full-width{
  width: 100%;
}
input:focus, button:focus {
  outline: none;
}

.vertical-middle {
  vertical-align: middle;
}

.show{
  display: block !important;
}

.hide{
  display: none;
}
.filepond--item {
  width: calc(33% - .5em);
}

.modal-header {
  flex-direction: row-reverse !important;
  margin: -1.5rem -1.5rem 1rem;
  background-color: #0760ad;
  font-size: 1.5rem;
  padding: 1.5rem;
  color: white;
}

.ngx-file-drop__drop-zone{

}

.file-drop-zone{
  height: auto;
  min-height: 70px;
  border: none;
}
.file-drop-content{
  height: auto;
  min-height: 70px;
  border: none;
  text-align-last: center;
  margin-bottom: 10px;
}
