.task-container {
  margin-bottom: 0.5rem;
  cursor: pointer;

  .task-header {
    .title {
      font-size: 0.9rem;
      width: 70%;
      font-weight: normal;
      display: inline-block;
    }

    .tag {
      vertical-align: top;
      font-size: 1rem;
      width: 30%;
      display: inline-block;
      text-align: right;
    }
  }

  .task-label-container {
    width: 100%;

    .task-label {
      background-color: #00d400;
      border-radius: 4px;
      padding: 4px 10px;
      color: white;
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .task-icons {
    width: 100%;

    i {
      vertical-align: sub;
    }

    .priority-control{
      margin-left: 1rem;
    }


    .refresh {
      border-radius: 50%;
      float: right;
      cursor: pointer;
    }
  }
}

.drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 128px;
  margin-bottom: 0.5rem;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-dialog-container {
  background-color: #f1f1f1;
}

.menu-item{
  display: flex;
  width: 200px;
}

.stick-right {
  flex: auto;
  text-align: end;
  margin-right: 3%;
}
