<mat-card class="task-container" cdkDrag (click)="openTask()">
  <div class="drag-placeholder" *cdkDragPlaceholder></div>
  <div class="task-header">
    <label class="title">{{task.title}}</label>
    <label class="tag">{{task.tag}}</label>
  </div>
  <div class="task-label-container">
    <app-color-label [label]="task.label"></app-color-label>
  </div>
  <div class="task-icons">
    <i class="material-icons">people</i>
    <!--    <label>{{task.assignedUser.length}}</label>-->
    <app-priority-control
      class="priority-control"
      [iconOnly]="true"
      [priorityCode]="task.priority">
    </app-priority-control>
    <i class="material-icons refresh" matRipple [matMenuTriggerFor]="menu"
       (click)="$event.stopPropagation()">more_vert</i>
  </div>
</mat-card>

<mat-menu #menu="matMenu" class="mat-elevation-z4">
  <a class="menu-item" mat-menu-item
     (click)="openTask()">Otwórz zadanie
    <span class="stick-right"><i class="far fa-folder-open"></i></span>
  </a>
  <a class="menu-item" mat-menu-item>Odśwież
    <span class="stick-right"><i class="fas fa-sync-alt"></i></span>
  </a>
  <a class="menu-item" mat-menu-item (click)="confirmDeletion()">Usuń zadanie
    <span class="stick-right"><i class="fas fa-trash-alt"></i></span>
  </a>
</mat-menu>
