<mat-form-field>
  <mat-label>Priorytet</mat-label>
  <mat-select [(ngModel)]="priority" name="priority" (selectionChange)="selectPriority($event.value)">
    <mat-select-trigger>
      <img [src]="'assets/priorityicons/' + priority.toString().toLocaleLowerCase() + '_ico.png'"
           width="24" height="24"
           class="priority"
           [alt]="priority">
      <label class="ml-2">{{getPriorityText(priority)}}</label>
    </mat-select-trigger>
    <mat-option *ngFor="let priority of priorityList" [value]="priority.code">
      <img [src]="'assets/priorityicons/' + priority.code.toLocaleLowerCase() + '_ico.png'"
           width="24" height="24"
           class="priority"
           [alt]="priority.code">
      <label class="ml-2">{{priority.text}}</label>
    </mat-option>
  </mat-select>
</mat-form-field>
