<sd-spinner [loading]="!loaded"></sd-spinner>
<div class="container">
  <h1><i class="material-icons">dashboard</i> Tablice</h1>
  <app-boards-tile [boards]="boards"></app-boards-tile>
</div>

<div class="container">
  <h1><i class="material-icons">people</i> Zespoły projektowe</h1>
  <app-teams-tile [teams]="teams"></app-teams-tile>
</div>


