<mat-toolbar class="header">
  <img width="40" alt="SlatBoard Logo" src="../../assets/white.png"/>
  <img class="title clickable" width="250" alt="SlatBoard Logo" src="../../assets/SlatBoardLogo.png" routerLink=""/>
  <button class="header-button" mat-flat-button color="primary"
          *ngIf="authService.userLoggedIn()"
          style="background: #ffffff2e; margin-left: -1rem" routerLink="/dashboard">
    <i class="material-icons">home</i>
  </button>
  <div class="stick-right">
    <button class="header-button" mat-flat-button color="primary" [routerLink]="'/login'"
            *ngIf="!authService.userLoggedIn()">
      Zaloguj
      <i class="fas fa-sign-out-alt"></i>
    </button>
    <button class="header-button" mat-flat-button color="primary" [routerLink]="'/register'"
            *ngIf="!authService.userLoggedIn()">
      Zarejestruj
      <i class="fas fa-user-plus"></i>
    </button>
    <a class="header-button icon-button" mat-flat-button color="primary"
       *ngIf="authService.userLoggedIn()">
      <i class="material-icons">add_circle_outline</i>
    </a>
    <a class="header-button icon-button" mat-flat-button color="primary"
       *ngIf="authService.userLoggedIn()">
      <i class="material-icons">settings</i>
    </a>
    <img width="40px"
         height="40px"
         class="avatar clickable"
         src="https://image.flaticon.com/icons/png/512/1339/1339620.png"
         alt="Avatar"
         [matMenuTriggerFor]="menu"
         id="avatar_icon" *ngIf="authService.userLoggedIn()">
    <mat-menu #menu="matMenu" class="mat-elevation-z4">
      <a style="width: 200px; display: flex" mat-menu-item>
        Profil
        <span class="stick-right">
          <i class="fas fa-id-card"></i>
        </span>
      </a>
      <a style="width: 200px; display: flex" mat-menu-item>
        Wiadomości
        <span class="stick-right">
        <i class="fas fa-envelope"></i>
           </span>
      </a>
      <a style="width: 200px; display: flex" mat-menu-item (click)="logOut()">
        Wyloguj
        <span class="stick-right">
        <i class="fas fa-sign-out-alt"></i>
           </span>
      </a>
    </mat-menu>
  </div>
</mat-toolbar>
