.header-title {
  font-size: 2rem;
  font-family: initial;
  font-variant: petite-caps;
  text-align: center;
}

.stick-left {
  float: left;
}

.stick-right {
  flex: auto;
  text-align: end;
  margin-right: 3%;
}

.header-button {
  margin-left: 1rem;
  font-size: 1rem;
  background: #ffffff2e;
}

.icon-button {
  background: transparent;
  margin: 0;
  i {
    font-size: 30px !important;
  }
}

.title {
  margin-left: -2rem;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 45px;
}

.avatar {
  border-radius: 50%;
  margin-left: 20px;
}

.header {
  background-color: #0b8dff;
  height: 50px;
}

button:hover {
  outline: none;
  background-color: #ffffff69 !important;
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4) !important;
  transition: all 0.2s;
}

