<div class="cards-list">
  <div class="card" *ngFor="let board of boards"
       [routerLink]="'/board'" [queryParams]="{b: board.id, bn: board.name}">
    <span class="title">{{board.name}}</span>
    <div class="mx-auto my-auto"><img width="60px" alt="SlatBoard Logo" src="../assets/board_new.png"/></div>
  </div>
  <div class="card" (click)="createNewBoard()">
    <span class="title">Dodaj nową tablicę</span>
    <div class="mx-auto my-auto"><img width="60px" alt="SlatBoard Logo" src="../assets/board_new.png"/></div>
  </div>
</div>
