.material-icons{
  font-size: 24px;
  padding-right: 10px;
}
.cards-list {
  z-index: 0;
  min-width: 700px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  width: 200px;
  height: 125px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  .title{
    font-size: 1.2rem;
    margin: auto;
    padding-top: 5px;
    font-weight: 300;
  }
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 5px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 5px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.25), 0px -1px 5px 8px rgba(0, 0, 0, 0.22)
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
