.file-list-container {
  padding: 5px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .file-container {
    width: 185px;
    border-radius: 3px;
    height: 215px;
    margin: 4px;

    .delete-bar{
      height: 30px;
      background: #80808052;
      display: flex;
      justify-content: flex-end;
      visibility: hidden;
      i{
        padding: 4px;
        color: #00000085;
        display: block;
        width: 40px;
        font-size: 1.5rem;

      }
    }

    .file-preview {
      font-size: 3rem;
      height: 130px;
      justify-content: center;
      display: flex;
      cursor: pointer;

      .image{
          display: block;
          max-width:185px;
          max-height:130px;
          width: auto;
          height: auto;
      }

      i {
        justify-content: center;
        margin-top: 35px;
        align-self: center;
      }

      .file-ext {
        text-transform: uppercase;
        margin-top: 5px;
        font-size: 1rem;
        font-weight: 300;
        justify-content: center;
      }
    }

    .file-description {
      border-top: 1px solid #cccccc;
      margin: 5px;
      font-size: 15px;

      .file-title {
        text-align-last: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .file-details {
        font-size: 12px;

        .date {
          float: left;
        }

        .uploaded-by {
          float: right;
        }
      }
    }
  }
  .file-container:hover{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    .delete-bar{
      visibility: visible;
    }
  }
}
