<div class="file-list-container">
  <div class="file-container mat-elevation-z2" *ngFor="let file of files" >
    <div class="delete-bar"><i class="far fa-times-circle clickable" (click)="deleteFile(file.id)"></i></div>
    <div class="file-preview">
      <div *ngIf="file.preview !== 'null'" (click)="openImage(file.fileID)">
        <img [src]="file.preview" class="image">
      </div>
      <div *ngIf="file.preview === 'null' || file.preview == null" (click)="openFile(file.fileID)">
        <i class="far row" [ngClass]="getFileIcon(file.extension)"></i>
        <div class="file-ext row">{{file.extension}}</div>
      </div>
    </div>
    <div class="file-description">
      <div class="file-title">
        {{file.name}}
      </div>
      <div class="file-details">
        <span class="date">{{file.createdOn}}</span>
        <span class="uploaded-by">{{file.createdBy.username}}</span>
      </div>
    </div>
  </div>
</div>
