.page-container {
  height: 450px;
  display: flex;
  justify-content: center;
  background-color: #2f8dde;

  .modal-container {
    padding: 2rem;
    margin-top: 250px;
    border-radius: 5px;
    width: 500px;
    background-color: white;
    height: 500px;
    align-items: center;

    .welcome-icon {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
    }

    .welcome-header {
      font-family: monospace;
      margin: auto;
      margin-top: 2rem;
      text-align: center;
      font-size: 2rem !important;
    }

    .text-message {
      text-align: justify;
      font-size: 16px;
      margin-top: 1rem;
      font-weight: 400;
    }

    .button-row {
      display: flex;
      justify-content: center;
      height: 150px;
    }

    .continue-button {
      margin: auto;
      width: 11rem;
      margin-top: 4rem;
      background-color: #2f8dde;
      color: white;
      border-radius: 3px !important;
    }

    .footer {
      text-align: center;
      font-size: 12px;
      margin-top: 0.5rem;
    }
  }
}
