<div class="page-container">
  <div class="modal-container mat-elevation-z4">
    <div class="welcome-header">Witaj!</div>
    <div class="welcome-icon">
      <img width="100px" height="100px" src="https://freeiconshop.com/wp-content/uploads/edd/handshake-flat.png">
    </div>
    <div class="text-message">
      Dziękujemy że dołączyłeś do naszego zespołu i cieszymy się że wybrałes BoardSy jako Twoje narzędzie. Twoje dane
      zostały potwierdzone, aby kontynuować zaloguj się na swoje utworzone konto
    </div>
    <div class="row button-row">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <button mat-button class="continue-button" *ngIf="!loading" [routerLink]="'/login'">Kontynuuj</button>
    </div>
    <div class="text-message footer">
      W przypadku problemów skontaktuj się z nami pod adresem <a href="mailto:SlatBRD@mail.com">SlatBRD@mail.com</a>
    </div>
  </div>
</div>
