<div class="blue-container" style="background-color: rgb(0, 115, 255)">
  <div class="welcome-container row justify-content-md-center">
    <div class="text-container col py-5">
      Rozwiązanie SlatBoard umozliwia łatwe i szybkie rozdawanie zadań, zarzązanie zespołem i integrację w projekcie.
      <div class="row py-4 px-4" *ngIf="!authService.userLoggedIn()">
        <button class="header-button col" mat-flat-button color="primary" [routerLink]="'/login'">
          Zaloguj
          <i class="fas fa-sign-out-alt"></i>
        </button>
        <span class="px-4" style="font-size: 1.3rem"> lub </span>
        <button class="header-button col" mat-flat-button color="accent" style="background-color: coral;" [routerLink]="'/register'">
          Zarejestruj
          <i class="fas fa-user-plus"></i>
        </button>
      </div>
      <div class="row col-sm-5 py-4" *ngIf="authService.userLoggedIn()">
        <button class="header-button col" mat-flat-button color="accent" style="background-color: coral;" [routerLink]="'/dashboard'">
          Rozpocznij
          <i class="far fa-play-circle"></i>
        </button>
      </div>
    </div>
    <div class="col">
      <img width="500px" alt="SlatBoard Logo" src="../../assets/Meeting.png"/>
    </div>
  </div>
</div>

<div class="row py-5 justify-content-md-center" style="width: 65%; margin: auto">
  <div class="col" style="max-width: 30%">
    <img width="200px" alt="SlatBoard Logo" src="../../assets/tasks.png"/>
  </div>
  <div class="col text-container-features">
    Aplikacja zapewnia narzędzia do tworzennia tablic na których umieszczane będą zadania które można przypisać
    poszczególnym członkom zespołu. Umieszczaj wykresy, zrzuty ekranu czy checklisty w poszczególnych zadaniach i edytuj
    je dowolnie!
  </div>
</div>

<div class="row py-5 justify-content-md-center" style="width: 65%; margin: auto">
  <div class="col text-container-features">
    Zarządzaj swoim zespołem z łatwością. Narzędzia udostępnione pozwalają na kompleksowe podejscie do projektu i zarządzanie zespołem poprzez przypisywanie zadań, określanie czasu wykonania czy zgłaszanie wykonania
  </div>
  <div class="col" style="max-width: 30%">
    <img width="200px" alt="SlatBoard Logo" style="float: right" src="../../assets/team.png"/>
  </div>
</div>
