.blue-container {
  height: 40%;

  .welcome-container {
    width: 70%;
    margin: auto;
    padding-top: 3rem;
    button{
      background-color: #3fb579;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
  }
}

.text-container {
  display: block;
  color: white;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 300;
  text-align: justify;
}
.text-container-features {
  vertical-align: center;
  display: block;
  color: black;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  align-self: center;
  text-align: justify;
}
