<!-- Accordion card -->
<div class="card">
  <!-- Card header -->
  <div class="card-header" role="tab">
    <a data-toggle="collapse" data-parent="#accordionParent" [attr.href]="'#'+templateID" aria-expanded="true" [attr.aria-controls]="templateID" >
      <div class="mt-2 mb-0 team-name">
        <span>{{name}}</span>
      </div>
    </a>
  </div>
  <!-- Card body -->
  <div [attr.id]="templateID" class="collapse" role="tabpanel" [attr.data-parent]="multipleExpand ? '': '#accordionParent'">
    <div class="card-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
