<mat-form-field>
  <mat-label>Status</mat-label>
  <mat-select [(ngModel)]="value"
              name="status"
              (selectionChange)="selectStatus($event.value)">
    <mat-select-trigger *ngIf="value">
      {{value}}
    </mat-select-trigger>
    <mat-option *ngFor="let status of STATUSES" [value]="status">
      {{status}}
    </mat-option>
  </mat-select>
</mat-form-field>
