img {
  background: url('preloader.gif') no-repeat;
  background-position: center center;
  max-height: 93vh;
  max-width: 94vw;
  margin: -24px;
  min-width: 150px;
  min-height: 150px;
}
.delete-bar{
  height: 30px;
  background: #80808052;
  display: flex;
  justify-content: flex-end;
  margin: -15px;
  i{
    margin: 1rem;
    z-index: 10000000;
    color: #0cff3c !important;
    display: block;
    width: 40px;
    font-size: 2.5rem;
  }
}
/deep/.cdk-overlay-backdrop{
  z-index: 99999;
}
