<mat-card-header class="modal-header">
  Zarządzaj etykietami zadań
</mat-card-header>
<mat-dialog-content>
  <app-custom-labels [(ngModel)]="labels" canEdit="true"></app-custom-labels>
</mat-dialog-content>
<mat-dialog-actions class="right">
  <button mat-button [mat-dialog-close]="false">Nie</button>
  <button mat-button [mat-dialog-close]="true" (click)="updateLabels()">Tak</button>
</mat-dialog-actions>
