<div *ngIf="board" class="full-height">
  <app-side-panel [board]="board" *ngIf="store.privileges.canManageBoard"></app-side-panel>
  <mat-toolbar class="header">
    <span>{{board.name}}</span>
    <button class="header-button" mat-flat-button (click)="getBoardData(this.boardID)">
      <i class="material-icons">refresh</i>
    </button>
  </mat-toolbar>

  <div class="panel-container"
       cdkDropList
       cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop($event)">

    <div style="display: flex" cdkDropListGroup>
      <div class="panel" cdkDrag *ngFor="let panel of board.panels">
        <div class="drag-panel-placeholder" *cdkDragPlaceholder></div>
        <app-panel [panel]="panel" (panelRemoved)="removePanel($event)"></app-panel>
      </div>
    </div>

    <div class="panel">
      <mat-card class="panel-card new-panel" tabindex="1">
        <div class="input-text">
          <mat-form-field>
            <input matInput [(ngModel)]="panel.name">
          </mat-form-field>
          <button mat-button (click)="createPanel()">Stwórz</button>
        </div>
        <div class="label-text">
          Nowa tablica
          <i class="material-icons">add_circle_outline</i>
        </div>
      </mat-card>
    </div>
  </div>
</div>
