.header {
  background-color: #8f919226;;
  height: 50px;
  color: rgba(144, 144, 144, 0.87);

  button {
    color: rgba(144, 144, 144, 0.87);
    margin-left: 1rem;
    background: transparent;
  }
}

.full-height {
  height: calc(100% - 50px)
}

.panel-container {
  margin-top: 20px;
  display: flex;
  overflow-x: auto;
  height: calc(100% - 70px);

  .drag-panel-placeholder {
    width: 400px;
    height: auto;
    background: #ccc;
    border: dotted 3px #999;
    margin-bottom: 0.5rem;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .panel {
    margin-left: 1rem;
    width: 400px;
    height: fit-content;
    display: flex;
    font-weight: 300;
    color: gray;
    font-size: 1.3rem;

    .new-panel {
      cursor: pointer;
      text-align: center;
      color: gray;
      width: 300px;
      border: 1px solid silver;
      box-shadow: 3px 6px 7px -1px rgba(82, 78, 82, 0.6);
      background-color: #94949414;
      transition: all 200ms;

      button {
        background-color: #8282829e;
        color: white;
      }

      .input-text {
        display: none;
      }

      i {
        vertical-align: sub;
      }
    }

    .new-panel:focus-within {
      .input-text {
        display: block;
      }

      .label-text {
        display: none;
      }
    }

    .new-panel:hover {
      box-shadow: 3px 6px 7px 3px rgba(82, 78, 82, 0.58);
    }
  }
}
