.flex {
  display: flex;

  .color-picker-container {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    min-width: 40px;
    min-height: 40px;
  }

  .color-picker {
    border-radius: 50%;
    background: rgb(204, 177, 177);
    width: 39px;
    height: 39px;
    border: 1px solid gray;
    margin-top: 5px;
    cursor: pointer;
  }

  button {
    margin-top: 4px;
    background-color: #0b72cc;
    margin-left: 1rem;
  }
}
.editing{
  background-color: antiquewhite;
}
