<div class="flex">
  <mat-form-field>
    <mat-label>Nazwa etykiety</mat-label>
    <input matInput [(ngModel)]="labelText" (ngModelChange)="exists = false">
  </mat-form-field>
  <div class="color-picker-container">
    <input type="text" readonly="readonly" class="color-picker mat-elevation-z4"
           [(colorPicker)]="color"
           [style.background]="color"/>
  </div>
  <div class="example-button-container">
    <button mat-mini-fab color="warn" (click)="createLabel()" *ngIf="!editing">
      <mat-icon>add_circle</mat-icon>
    </button>

    <button mat-mini-fab color="warn" (click)="updateLabel()" *ngIf="editing">
      <mat-icon>check_circle</mat-icon>
    </button>

    <button mat-mini-fab color="warn" (click)="cancelEditing()" *ngIf="editing">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="exists" class="alert alert-danger">
  <div>Etykieta już istnieje</div>
</div>

<div *ngFor="let label of labels" [ngClass]="{'editing': editing && label === currentLabel}">
  <app-color-label [label]="label"></app-color-label>
    <mat-icon class="vertical-middle clickable"
              *ngIf="canDelete && isLabelInUsage(label)"
              (click)="confirmDelete['label'] = label"
              [popover]="confirmDelete"
              [popoverOnHover]="false"
              [popoverCloseOnMouseOutside]="false"
              [popoverAnimation]="true">remove_circle
    </mat-icon>

  <mat-icon class="vertical-middle clickable" (click)="removeLabel(label)" *ngIf="!isLabelInUsage(label)">remove_circle</mat-icon>
  <mat-icon class="vertical-middle clickable" (click)="editLabel(label)" *ngIf="canEdit && label.id !== null">edit
  </mat-icon>
</div>

<popover-content #confirmDelete
                 placement="top"
                 [animation]="true"
                 [closeOnMouseOutside]="false"
                 [closeOnClickOutside]="true">
  Niektóre zadania posiadają tą etykietę. Usunięcie spowoduje zmianę ich etykiety.
  <div class="row right">
    <button mat-button color="accent" (click)="removeLabel(confirmDelete['label']); confirmDelete.hide()">Usuń</button>
  </div>
</popover-content>
