table {
  width: 100%;
  .cell-admin{
    text-align: center;
    justify-content: center;
    /deep/.mat-sort-header-container{
      justify-content: center;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
