<mat-card-header class="modal-header">
  Zarządzaj zespołem projektu
</mat-card-header>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Szukaj</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Nazwa użytkownika lub e-mail">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- UserName column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa użytkownika</th>
      <td mat-cell *matCellDef="let projectMember"> {{projectMember.user.username}} </td>
    </ng-container>

    <!-- Email column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Adres email</th>
      <td mat-cell *matCellDef="let projectMember"> {{projectMember.user.email}} </td>
    </ng-container>

    <!-- IsAdmin column -->
    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-admin"> Administrator projektu</th>
      <td mat-cell *matCellDef="let projectMember" class="cell-admin">
        <mat-checkbox [(ngModel)]="projectMember.privileges.canManageBoard" [disabled]="projectMember.user.id === store.user.id"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="canCreateTask">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-admin"> Tworzenie nowych zadań</th>
      <td mat-cell *matCellDef="let projectMember" class="cell-admin">
        <mat-checkbox [(ngModel)]="projectMember.privileges.canCreateTask" [disabled]="projectMember.user.id === store.user.id"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="canEditTask">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-admin"> Edycja zadań</th>
      <td mat-cell *matCellDef="let projectMember" class="cell-admin">
        <mat-checkbox [(ngModel)]="projectMember.privileges.canEditTask" [disabled]="projectMember.user.id === store.user.id"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="canDeleteTask">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-admin"> Usuwanie zadań</th>
      <td mat-cell *matCellDef="let projectMember" class="cell-admin">
        <mat-checkbox [(ngModel)]="projectMember.privileges.canDeleteTask" [disabled]="projectMember.user.id === store.user.id"></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-dialog-content>
<mat-dialog-actions class="right">
  <button mat-button [mat-dialog-close]="false">Anuluj</button>
  <button mat-button [mat-dialog-close]="true" (click)="updateBoardAdmins()">Zapisz</button>
</mat-dialog-actions>
