.mat-form-field-infix {
  font-size: 1.1rem;
  font-weight: 500;
}

.team-selector {
  width: 100%;
  font-size: 1rem;

  input {
    line-height: 2rem;
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
}

.name-badge {
  cursor: auto;
}

button {
  background-color: antiquewhite;
  margin-right: 1rem;
}

.modal-header {
  background-image: url('src/assets/modal_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  .modal-title {
    text-align: left;
    font-size: 1.5rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 1rem;
  }
  .close{
    padding-top: 1.5rem;
    background: transparent;
    color: white;
    opacity: 1;
  }
}
