<mat-card-header class="new-task-header">
  Tworzenie nowej tablicy
</mat-card-header>
<mat-dialog-content class="mat-modal-content">
  <form [formGroup]="boardFormGroup">
    <mat-vertical-stepper [linear]="true" #stepper>
      <!--            Nazwa-->
      <mat-step [stepControl]="boardFormGroup.controls.name && boardFormGroup.controls.taskTag">
        <ng-template matStepLabel>Podaj nazwę projektu</ng-template>
        <mat-form-field class="team-selector">
          <mat-label>Nazwa tablicy</mat-label>
          <input matInput formControlName="name" required id="name">
        </mat-form-field>
        <mat-form-field class="team-selector">
          <mat-label>Tag dla zadań</mat-label>
          <input style="text-transform:uppercase !important;" matInput formControlName="tag" required
                 id="tags">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Dalej</button>
        </div>
      </mat-step>
      <!--            Członkowie-->
      <mat-step optional>
        <ng-template matStepLabel>Dodaj członków zespołu</ng-template>
        <div class="md-form">
          <mat-form-field class="team-selector">
            <input type="text"
                   placeholder="Wybierz członków tablicy"
                   aria-label="Number"
                   matInput
                   formControlName="usersAutoComplete"
                   [formControl]="usersAutoComplete"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectUser($event.option.value)">
              <mat-option *ngFor="let option of filteredUsers | async" [value]="option">
                {{option.username}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <button class="header-button name-badge mx-1 mt-1" mat-flat-button color="primary"
                  *ngFor="let user of selectedUsers">
            {{user.username}}
            <i class="fas fa-times clickable" style="color: white !important" (click)="removeUser(user)"></i>
          </button>
        </div>
        <div class="md-form mb-5">
          <span style="text-align: center; display: block;">lub</span>
          <mat-form-field class="team-selector">
            <mat-label>Wybierz istniejący zespół</mat-label>
            <mat-select formControlName="team" (selectionChange)="selectTeam()">
              <mat-option>Brak</mat-option>
              <mat-option *ngFor="let team of teams" [value]="team">
                {{team.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Cofnij</button>
          <button mat-button matStepperNext>Dalej</button>
        </div>
      </mat-step>

      <!--            Etykiety-->
      <mat-step optional>
        <ng-template matStepLabel>Etykiety</ng-template>
        <p>Etykiety mogą oznaczać kategorię zaadania lub jego zakres</p>
        <app-custom-labels [(ngModel)]="labels" [ngModelOptions]="{standalone: true}"></app-custom-labels>

        <div>
          <button mat-button matStepperPrevious>Cofnij</button>
          <button mat-button matStepperNext>Dalej</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Podsumowanie</ng-template>
        <p>Potwierdź utworzenie tablicy</p>
        <div>
          <button mat-button matStepperPrevious>Cofnij</button>
          <button mat-button (click)="createNewBoard()">Utwórz tablicę</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</mat-dialog-content>
