<mat-card class="panel-card"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="panel.tasks"
          [attr.panelID]="panel.id">
  <div class="drag-panel-placeholder" *cdkDragPlaceholder></div>
  <div class="panel-card-header">
    <div class="panel-name">{{panel.name}}</div>
    <button class="header-button more"
            mat-mini-fab color="primary"
            [matMenuTriggerFor]="menu">
      <i class="material-icons">more_vert</i>
    </button>
  </div>
  <app-task *ngFor="let task of panel.tasks"
            [task]="task" [panelName]="panel.name"
            (taskDeleted)="removeTask($event)"></app-task>
</mat-card>


<mat-menu #menu="matMenu" class="mat-elevation-z4">
  <a style="width: 200px; display: flex" mat-menu-item (click)="createTask()">
    Utwórz nowe zadanie
    <span class="stick-right">
         <i class="fas fa-plus"></i>
        </span>
  </a>
  <a style="width: 200px; display: flex" mat-menu-item (click)="confirmDeleteModal()">
    Usuń panel
    <span class="stick-right">
        <i class="fas fa-trash-alt"></i>
           </span>
  </a>
</mat-menu>
