.panel-card {
  width: 400px;
  border: 1px solid silver;
  box-shadow: 3px 6px 7px -1px rgba(82, 78, 82, 0.6);
  background-color: #94949414;

  .panel-card-header {
    height: 50px;

    .panel-name {
      text-align: left;
      width: 90%;
      display: inline-block;
    }

    .more {
      background: #8282829e;
      box-shadow: none;
      width: 10%;
      display: inline-block;
    }
  }
}

.stick-right {
  flex: auto;
  text-align: end;
  margin-right: 3%;
}
