.letter-icon {
  text-align: center;
  font-size: 1.3rem;
  place-items: center;
  display: flex;
  background-color: #7dc389;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: white;
  justify-content: center;
}
