<div *ngIf="customIcon != null">
  <img width="35px"
       height="35px"
       class="avatar"
       [src]="customIcon"
       alt="Avatar">
</div>
<div *ngIf="customIcon == null && userName != null">
  <span class="letter-icon">{{userName.toUpperCase().charAt(0)}}</span>
</div>
<div *ngIf="customIcon == null && userName == null">
  <span class="letter-icon"><i class="fas fa-user"></i></span>
</div>

