<div class="file-manager-container">
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="fileDropped($event)"
                 [dropZoneClassName]="'file-drop-zone'" [contentClassName]="'file-drop-content'">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <app-file-list [files]="taskFiles"
                     (fileDeleteClicked)="deleteFile($event)"></app-file-list>

      <i class="fas fa-cloud-upload-alt mr-2 link"></i> Upuść pliki tutaj lub
      <a class="link" (click)="openFileSelector()">Załącz (max 20MB)</a>
      <div class="uploading">
        <mat-spinner [diameter]="20" *ngIf="uploading"></mat-spinner>
      </div>
    </ng-template>
  </ngx-file-drop>
</div>

