<mat-card-header class="modal-header">
  {{data.modalContent}}
</mat-card-header>
<mat-dialog-content>
  <p>Potwierdź aby kontynuować</p>
</mat-dialog-content>
<mat-dialog-actions class="right">
  <button mat-button [mat-dialog-close]="false">Nie</button>
  <button mat-button [mat-dialog-close]="true">Tak</button>
</mat-dialog-actions>
