<div id="accordionParent" role="tablist" aria-multiselectable="true">
  <app-collapsetemplate *ngFor="let team of teams"
                        [name]="team.name"
                        [templateID]="'collapse' + team.id">
    <app-team-boards [teamId]="team.id"></app-team-boards>
  </app-collapsetemplate>
</div>
<!--/.Accordion wrapper-->
<button mat-button class="card right new-team-button" (click)="createNewTeam()">
  <div>
    Utwórz zespół
    <i class="material-icons ml-5">add_circle_outline</i>
  </div>
</button>
