<sd-spinner [loading]="loading"></sd-spinner>
<mat-card class="register-container">
  <div class="center">
    <img class="logo" width="40" alt="SlatBoard Logo" src="../../../favicon.ico"/>
    <img class="title" width="300" alt="SlatBoard Logo" src="../../../assets/SlatBoard.png"/>
  </div>
  <form [formGroup]="userFormGroup">
    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step>
          <ng-template matStepLabel>Podaj nazwę użytkownika</ng-template>
          <mat-form-field>
            <mat-label>Nazwa użytkownika</mat-label>
            <input matInput placeholder="Jan_Kowalski" [formControlName]="'name'" name="username" required id="name" #input>
          </mat-form-field>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required"> Podaj nazwę użytkownika</div>
            <div *ngIf="name.errors.minlength">Nazwa musi składać się z conajmniej 5 znaków</div>
          </div>
          <div>
            <button mat-button matStepperNext>Dalej</button>
          </div>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Podaj adres e-mail</ng-template>
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput [formControlName]="'email'" name="email" placeholder="jan_kowalski@email.com" type="email" required id="email">
          </mat-form-field>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required"> Podaj adres email</div>
            <div *ngIf="email.errors.email">Adres email jest niepoprawny</div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Cofnij</button>
            <button mat-button matStepperNext>Dalej</button>
          </div>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Podaj hasło</ng-template>
          <mat-form-field>
            <mat-label>Hasło</mat-label>
            <input matInput [formControlName]="'password'" name="password" placeholder="Hasło" type="password" required id="password">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Potwierdź hasło</mat-label>
            <input matInput formControlName="passwordRepeat" placeholder="Hasło" type="password" required id="passwordRepeat">
          </mat-form-field>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">Podaj hasło</div>
            <div *ngIf="password.errors.isCorrect">Hasło musi zawierac minimum 5 znaków w tym co najmniej 1 literę i 1 cyfrę</div>
          </div>
          <div *ngIf="passwordRepeat.invalid && (passwordRepeat.dirty || passwordRepeat.touched)" class="alert alert-danger">
            <div *ngIf="passwordRepeat.errors.required">Potwiwerdż hasło</div>
            <div *ngIf="passwordRepeat.errors.isMatching">Hasła różnią się</div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Cofnij</button>
            <button mat-button matStepperNext>Dalej</button>
          </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Zarejestruj</ng-template>
        <p>Potwierdź aby zarejestrować</p>
        <div>
          <button mat-button matStepperPrevious>Cofnij</button>
          <button mat-button (click)="showError()">Resetuj</button>
          <button mat-button (click)="register()">Zatwierdź</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
  <a class="clickable center" routerLink="/login">Masz już konto? Zaloguj</a>
  <button [hidden]="true" data-toggle="modal" data-target="#myModal" #showModal>Open Modal</button>
</mat-card>




<!-- Modal HTML -->
<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <h4 class="modal-title">Super!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Twoje konto zostało pomyślnie zarejestrowane. Na Twoją skrzynkę pocztową wysłaliśmy link aktywacyjny</p>
        <button class="btn btn-success btn-block" data-dismiss="modal" (click)="accountCreated()">OK</button>
      </div>
    </div>
  </div>
</div>
