.comment-container{
  background-color: #ececec;
  margin-top: 1rem;
  padding: 5px;
  .row{
    margin: 0.2rem;
  }
  .comment-header{
    align-self: center;
    margin-left: 1rem;
  }
  .comment{
    margin-left: calc(44px + 1rem);
  }

}
.new-comment {
  min-height: 100px;
  height: 100px;
}

.button {
  background-color: #0760ad;
  margin: 0.5rem;
  color: white;
}

.button:disabled {
  background-color: #d2d2d2;
}

.right{
  margin-left: auto;
}

.mini-button{
  opacity: 0.7;
  height: 40px;
  width: 40px;
  border-radius: 4px !important;
  vertical-align: middle;
  transform: scale(0.8);
  background-color: #8c8c8c;
  i{
    transform: scale(1.2);
  }
}

.buttons-row{
  display: flow-root;
}
