<div class="comment-container"  *ngFor="let comment of comments">
  <div class="row">
    <img width="40px"
         height="40px"
         class="avatar clickable"
         src="https://image.flaticon.com/icons/png/512/1339/1339620.png"
         alt="Avatar">
    <div class="comment-header">
      {{comment.commentedBy.username}}
    </div>
    <div class="comment-header">
      - {{comment.commentedOn | prettyDate}}
    </div>
    <div class="right" *ngIf="!editCommentContainer.classList.contains('show')">
      <button mat-mini-fab class="mini-button"
              *ngIf="this.store.user.id === comment.commentedBy.id"
              (click)="editCommentContainer.classList.add('show')">
        <i class="fas fa-edit"></i>
      </button>
      <button mat-mini-fab class="mini-button"
              *ngIf="this.store.user.id === comment.commentedBy.id"
              (click)="confirmDeleteModal(comment)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
  </div>
  <div class="row comment" *ngIf="!editCommentContainer.classList.contains('show')">
    {{comment.content}}
  </div>

  <div class="row hide" #editCommentContainer>
    <mat-form-field appearance="outline" class="full-width mt-2">
        <textarea matInput
                  cdkTextareaAutosize
                  class="new-comment"
                  [(ngModel)]="comment.content"
                  #autosize="cdkTextareaAutosize"></textarea>
    </mat-form-field>
    <div class="row buttons-row">
      <button mat-button class="button right" (click)="editCommentContainer.classList.remove('show'); editComment(comment)">Zapisz</button>
      <button mat-button class="button right" (click)="editCommentContainer.classList.remove('show')">Anuluj</button>
    </div>
  </div>
</div>


<mat-form-field appearance="outline" class="full-width mt-2">
          <textarea matInput
                    cdkTextareaAutosize
                    class="new-comment"
                    [(ngModel)]="comment.content"
                    #autosize="cdkTextareaAutosize"></textarea>
</mat-form-field>
<button mat-button class="button right" (click)="addComment()" [disabled]="comment.content.length<1">
  Dodaj komentarz
</button>

