<mat-form-field>
  <mat-label>Etykieta</mat-label>
  <mat-select [(ngModel)]="selectedLabel"
              name="label"
              (selectionChange)="selectLabel($event.value)"
              [compareWith]="compareFn">
    <mat-select-trigger *ngIf="selectedLabel">
      <app-color-label [label]="selectedLabel" class="custom-label"></app-color-label>
    </mat-select-trigger>
    <mat-option *ngFor="let label of labels" [value]="label">
      <app-color-label [label]="label" class="custom-label"></app-color-label>
    </mat-option>
  </mat-select>
</mat-form-field>
