<mat-card-header class="modal-header">
  Tworzenie nowego zespołu
</mat-card-header>
<mat-dialog-content [formGroup]="teamFormGroup">
  <mat-form-field class="full-width">
    <mat-label>Nazwa zespołu</mat-label>
    <input formControlName="name" matInput placeholder="Nadaj nazwę zespłowi" [required]="true">
  </mat-form-field>
  <div class="full-width">
    <mat-form-field class="text-field">
      <input type="email"
             placeholder="Wybierz członków tablicy"
             aria-label="Number"
             matInput
             formControlName="usersAutoComplete"
             [formControl]="userSelectorControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addUser($event.option.value)">
        <mat-option *ngFor="let option of filteredUsers | async" [value]="option" class="option-item">
          <span class="item-username">{{option.username}}</span>
          <span class="item-email">{{option.email}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-button class="add-button"
            [disabled]="userSelectorControl.value == null || !emailValid()"
            (click)="addEmailUser(userSelectorControl.value)">Dodaj
    </button>
  </div>
  <div class="container">
    <div class="row user-row mb-2" *ngFor="let user of users">
      <span class="item-width">
        <app-avatar-icon [userName]="user.username"></app-avatar-icon>
      </span>
      <span class="item-width">{{user.username}}</span>
      <span class="item-width">{{user.email}}</span>
      <button mat-button color="warn" class="item-width" [disabled]="user.id === store.user.id">Usuń
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>


</mat-dialog-content>
<mat-dialog-actions class="right">
  <button mat-button [mat-dialog-close]="false">Anuluj</button>
  <button mat-button [mat-dialog-close]="true" [disabled]="teamFormGroup.controls.name.value.toString().length<3" (click)="createTeam()">
    Zapisz
  </button>
</mat-dialog-actions>

