.text-field{
  width: 70%;
  margin-right: 2rem;
}
.add-button{
  border: 2px solid #0760ad;
}
.add-button:disabled{
  border: 2px solid #e0e0e0;
}
.user-row{
  display: flex;
  justify-content: space-between;
}

.item-width{
  align-self: center;
  width: auto;
}
.option-item{
  height: 3rem;
}
.item-username{
  display: block;
  width: 100%;
  font-size: 1rem;
  height: 1rem;
}
.item-email{
  display: block;
  width: 100%;
  font-size: 0.8rem;
  height: 0.8rem;
}

::ng-deep .mat-option-text {
  height: 3rem;
}
