.container {
  padding-top: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  height: calc(100% - 50px);

  .col{
    align-self: center;
  }

  .status-label{
    background: bisque;
    border: 1px solid #6bc4c4;
    border-radius: 5px;
    padding: 3px;
  }

  .task-container {
    margin: 10px;
  }

  .task-title{
    font-size: 1.5rem;
    vertical-align: bottom;
  }

  .section-header {
    margin-left: 1rem;
  }

  .mat-action-row {
    margin-top: 2rem;
  }

  .section {
    margin-top: 0.5rem;
    border-top: 1px solid grey;
  }

  .description {
    min-height: 150px;
  }

  .button {
    background-color: #0760ad;
    margin: 0.5rem;
    color: white;
  }

  .button:disabled {
    background-color: #999999;
  }

  .margin-1{
    margin-top: -1rem;
  }

  .description-label {
    min-height: 70px;
    width: 100%;
    margin: 1rem;
  }
  .edit-button{
    visibility: hidden;
    opacity: 0.7;
    height: 40px;
    width: 40px;
    border-radius: 4px !important;
    vertical-align: middle;
    transform: scale(0.8);
    background-color: #8c8c8c;
    i{
      transform: scale(1.2);
    }
  }
  .accept{
    background-color: #009221;
  }
  .edit-on-hover:hover{
    background-color: rgba(187, 187, 187, 0.18);
    .edit-button{
      visibility: visible;
    }
  }

  .edit-container{
    width: 75%;
  }
}

.mat-modal-content {
  max-height: 90vh !important;
}
