<mat-dialog-content class="mat-modal-content">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">{{store.currentBoard.name}}</li>
      <li class="breadcrumb-item active">{{data.panelName}}</li>
      <li class="breadcrumb-item active">{{task.tag}}</li>
    </ol>

    <div class="task-container">
      <!--      Title-->
      <div class="mat-action-row edit-on-hover" *ngIf="sectionHidden(titleEditing)"
           (dblclick)="showSection(titleEditing)">
        <i class="fas fa-file-signature" style="font-size: 1.5rem; vertical-align: middle"></i>
        <label class="section-header task-title">{{task.title}}</label>
        <button mat-mini-fab class="edit-button" (click)="showSection(titleEditing)"><i class="fas fa-edit"></i></button>
      </div>
      <div class="mat-action-row" #titleEditing hidden>
        <i class="fas fa-file-signature" style="font-size: 1.5rem"></i>
        <mat-form-field class="section-header" style="width: 94%">
          <mat-label>Nazwa zadania</mat-label>
          <input matInput [(ngModel)]="task.title" name="title" required id="title">
        </mat-form-field>
        <button mat-button class="button right margin-1"
                (click)="hideSection(titleEditing); updateTitle(task.title)">Zapisz
        </button>
        <button mat-button class="button right margin-1"
                (click)="hideSection(titleEditing)">Anuluj
        </button>
      </div>

      <div class="mat-action-row">
        <i class="fas fa-list"></i>
        <label class="section-header">Szczególy</label>
      </div>
      <div class="section">
        <div class="row m-2 mt-3">
          <div class="col">Tag: {{task.tag}}</div>
          <!--          Status-->
          <div class="col edit-on-hover" *ngIf="sectionHidden(statusEditing)" (dblclick)="showSection(statusEditing)">Status:
            <label class="status-label">{{task.status}}</label>
            <button mat-mini-fab class="edit-button" (click)="showSection(statusEditing)"><i class="fas fa-edit"></i>
            </button>
          </div>
          <div class="col edit-on-hover" #statusEditing hidden>
            <app-status-selector [(ngModel)]="task.status"></app-status-selector>
            <button mat-mini-fab class="edit-button"
                    (click)="hideSection(statusEditing)">
              <i class="fas fa-window-close"></i></button>
            <button mat-mini-fab class="edit-button accept"
                    (click)="updateStatus(task.status);hideSection(statusEditing)">
              <i class="fas fa-check-square"></i></button>
          </div>
        </div>
        <div class="row m-2  mt-4">
          <!--          Priority-->
          <div class="col edit-on-hover" *ngIf="sectionHidden(priorityEditing)" (dblclick)="showSection(priorityEditing)">Priorytet:
            <app-priority-control [priorityCode]="task.priority"></app-priority-control>
            <button mat-mini-fab class="edit-button" (click)="showSection(priorityEditing)"><i class="fas fa-edit"></i>
            </button>
          </div>
          <div class="col edit-on-hover" #priorityEditing hidden>
            <app-priority-selector class="edit-container"
                                   [(ngModel)]="task.priority"
                                   [priority]="task.priority"></app-priority-selector>
            <button mat-mini-fab class="edit-button"
                    (click)="hideSection(priorityEditing)">
              <i class="fas fa-window-close"></i>
            </button>
            <button mat-mini-fab class="edit-button accept"
                    (click)="updatePriority(task.priority); hideSection(priorityEditing)">
              <i class="fas fa-check-square"></i>
            </button>
          </div>

          <div class="col">Progres:</div>
        </div>
        <div class="row m-2  mt-4">
          <!--          Label-->
          <div class="col edit-on-hover" *ngIf="sectionHidden(labelEditing)" (dblclick)="showSection(labelEditing)">Etykieta:
            <app-color-label [label]="task.label"></app-color-label>
            <button mat-mini-fab class="edit-button" (click)="showSection(labelEditing)"><i class="fas fa-edit"></i></button>
          </div>
          <div class="col edit-on-hover" #labelEditing hidden>
            <app-color-label-selector class="edit-container" [(ngModel)]="task.label"
                                      [labels]="store.currentBoard.labels"
                                      [selectedLabel]="task.label"></app-color-label-selector>
            <button mat-mini-fab class="edit-button"
                    (click)="hideSection(labelEditing)">
              <i class="fas fa-window-close"></i>
            </button>
            <button mat-mini-fab class="edit-button accept"
                    (click)="updateLabel(task.label); hideSection(labelEditing)">
              <i class="fas fa-check-square"></i>
            </button>
          </div>
          <!--          User-->
          <div class="col edit-on-hover" *ngIf="sectionHidden(userEditing)" (dblclick)="showSection(userEditing)">Przypisane do:
            <i class="far fa-user"></i> {{task.assignedUser ? task.assignedUser.username : 'Nie przypisano'}}
            <button mat-mini-fab class="edit-button" (click)="showSection(userEditing)"><i class="fas fa-edit"></i></button>
          </div>
          <div class="col edit-on-hover" #userEditing hidden>
            <mat-form-field class="edit-container">
              <input type="text"
                     placeholder="Przypisz osobę do zadania"
                     aria-label="Number"
                     matInput
                     [(ngModel)]="task.assignedUser"
                     [formControl]="usersAutoComplete"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredUsers | async" [value]="option">
                  <i class="far fa-user"></i> {{option.username}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button mat-mini-fab class="edit-button"
                    (click)="hideSection(userEditing)">
              <i class="fas fa-window-close"></i>
            </button>
            <button mat-mini-fab class="edit-button accept"
                    (click)="updateAssignedUser(task.assignedUser); hideSection(userEditing)">
              <i class="fas fa-check-square"></i>
            </button>
          </div>
        </div>
        <div class="row m-2  mt-4">
          <div class="col">Utworzone: {{task.createdOn | prettyDate}}</div>
        </div>
      </div>

      <!--      Description-->
      <div class="mat-action-row">
        <i class="fas fa-info-circle"></i>
        <label class="section-header">Opis</label>
        <button mat-button class="button" *ngIf="sectionHidden(descriptionEditing)" (click)="showSection(descriptionEditing)">Edytuj
          <i class="far fa-edit"></i>
        </button>
      </div>
      <div class="section mb-5">
        <section *ngIf="sectionHidden(descriptionEditing)">
          <label class="description-label" (dblclick)="showSection(descriptionEditing)">
            {{task.description}}
          </label>
        </section>
        <section #descriptionEditing hidden>
          <mat-form-field appearance="outline" class="full-width mt-2">
          <textarea matInput
                    [ngModel]="task.description"
                    cdkTextareaAutosize
                    class="description"
                    #autosize="cdkTextareaAutosize"></textarea>
          </mat-form-field>
          <button mat-button class="button right margin-1">Zapisz</button>
          <button mat-button class="button right margin-1" (click)="hideSection(descriptionEditing)">Anuluj</button>
        </section>
      </div>
      <!--  Files-->
      <app-file-manager [taskId]="task.id"
                        [taskFileIds]="task.fileIDs"
                        (taskFileIdChanged)="updateFiles($event)"></app-file-manager>

      <!--  Comments-->
      <label class="mat-action-row">
        <i class="fas fa-file-signature"></i>
        <label class="section-header">Komentarze</label>
      </label>
      <div class="section">
        <app-comment-list [commentList]="task.comments"
                          [taskID]="this.task.id"
                          (commentsChanged)="this.data.task.comments=$event"></app-comment-list>
      </div>
    </div>
  </div>
</mat-dialog-content>
