<sd-spinner [loading]="loading"></sd-spinner>
<mat-card class="login-container">
  <div class="center">
    <img class="logo" width="40" alt="SlatBoard Logo" src="../../../../favicon.ico"/>
    <img class="title" width="300" alt="SlatBoard Logo" src="../../../assets/SlatBoard.png"/>
  </div>

  <!-- Default form register -->
  <form class="text-center p-5 register-form"
        (ngSubmit)="f.form.valid && signIn()" #f="ngForm">

    <p class="h4 mb-4">Zaloguj</p>

    <!-- E-mail -->
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput
             [(ngModel)]="credentials.email"
             name="email"
             required email
             #email="ngModel"
             placeholder="Np. Janusz@example.com">
      <div *ngIf="f.submitted && email.invalid">
        <mat-error *ngIf="email.errors.required">
          Adres e-mail jest <strong>wymagany</strong>
        </mat-error>
        <mat-error *ngIf="email.errors.email">
          Wprowadź poprawny adres e-mail
        </mat-error>
      </div>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="full-width">
      <mat-label>Hasło</mat-label>
      <input matInput
             [(ngModel)]="credentials.password"
             type="password"
             name="password"
             required
             #password="ngModel"
             placeholder="Password">
    </mat-form-field>
    <!-- Sign in button -->
    <button class="btn btn-info my-4 btn-block" type="submit" [disabled]="loading">Zaloguj</button>
    <a class="clickable" routerLink="/register">Nie masz konta? Zarejestruj</a>

  </form>
  <!-- Default form register -->
</mat-card>
