.container {
  padding-top: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  height: calc(100% - 50px);

  .task-container {
    margin: 10px;
  }

  .task-title{
    font-size: 1.5rem;
  }

  .section-field {
    margin-left: 1rem;
    width: 90%;
  }

  .section {
    border-top: 1px solid grey;
    padding-top: 1rem;
  }

  .description {
    textarea{
      min-height: 100px;
    }
  }

  .button {
    background-color: #0760ad;
    margin: 0.5rem;
    color: white;
  }

  .description-label {
    min-height: 70px;
    width: 100%;
    margin: 1rem;
  }
}

.mat-modal-content {
  max-height: 90vh !important;
}

.modal-header{
  margin-bottom: 0;
}
