<mat-card-header class="modal-header">
  Tworzenie nowego zadania
</mat-card-header>
<mat-dialog-content class="mat-modal-content">
  <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <div class="container">
      <div class="task-container">
        <div class="mat-action-row mt-4">
          <i class="fas fa-file-signature task-title"></i>
          <mat-form-field class="section-field">
            <mat-label>Nazwa zadania</mat-label>
            <input matInput [(ngModel)]="task.title" name="title" required [maxLength]="70">
          </mat-form-field>
        </div>
        <div class="mat-action-row">
          <i class="fas fa-file-signature task-title"></i>
          <app-priority-selector
            [(ngModel)]="task.priority"
            name="priority" [priority]="task.priority"
            class="section-field"
            required>
          </app-priority-selector>
        </div>
        <div class="mat-action-row">
          <i class="fas fa-file-signature task-title"></i>
          <app-color-label-selector
            [(ngModel)]="task.label"
            [selectedLabel]="task.label"
            [labels]="store.currentBoard.labels"
            name="label"
            class="section-field">
          </app-color-label-selector>
        </div>
        <div class="mat-action-row section">
          <i class="fas fa-file-signature task-title"></i><label class="ml-3">Opis</label>
          <mat-form-field appearance="outline" class="full-width mt-2 description">
            <textarea matInput name="description" [(ngModel)]="task.description"></textarea>
          </mat-form-field>
        </div>

        <div class="mat-action-row">
          <button mat-button class="button right" type="submit">Zapisz</button>
          <button mat-button class="button right" (click)="onCancelClick()">Anuluj</button>
        </div>

      </div>
    </div>
  </form>
</mat-dialog-content>
