.sidebar-panel{
  z-index: 1000;
  right: -350px;
  width: 350px;
  background-color: #67b8ff;
  height: 100%;
  position: fixed;
  transition: right 0.2s;

  .header{
    font-size: 1rem;
    font-weight: 100;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 1.5rem;
    margin: 1.5rem;
    color: white;
  }

  .show-hide-button{
    width: 50px;
    color: white;
    border: none;
    background-color: #67b8ff;
    margin-left: -40px;
    height: 50px;
    position: fixed;
    top: 50%;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    font-size: 26px;
    i{
      transition: transform 0.2s;
      transform-origin: 50% 40%;
      color: white;
      margin-top: 5px;
    }
    transition: transform 0.2s;
  }
  .show-hide-button:hover{
    transform: scale(1.2);
  }

  .rotate-button{
    transform: rotateZ(180deg);
  }

  .action{
    cursor: pointer;
    color: white;
    margin: 15px;
    font-size: large;
    background-color: #86c4fa;
  }
  .action:hover{
    box-shadow:0px 6px 6px -3px rgba(0, 0, 0, 0.2),0px 10px 14px 1px rgba(0, 0, 0, 0.14),0px 4px 18px 3px rgba(0, 0, 0, 0.12)
  }
}

.panel-visible{
  right: 0;
}
