<div class="sidebar-panel  mat-elevation-z6" [ngClass]="visible ? 'panel-visible':''">
  <button class="show-hide-button" (click)="switchVisibility()">
    <i class="material-icons" [ngClass]="visible ? 'rotate-button': ''">keyboard_arrow_left</i>
  </button>

  <div class="header row">
    <div class="col">
      <div style="font-size: 1.5rem;" class="pb-2">
        {{board.name}}
      </div>
      <div>
        Zarządzanie tablicą
      </div>
    </div>
    <div class="col">
      <i class="fas fa-tasks" style="font-size: 4rem;"></i>
    </div>
  </div>
  <mat-card class="action mat-elevation-z2 mt-5" matRipple (click)="openTeamManager()">
    Członkowie
    <i class="fas fa-users-cog right"></i>
  </mat-card>

  <mat-card class="action mat-elevation-z2" matRipple (click)="openLabelManager()">
    Etykiety zadań
    <i class="fas fa-tags right"></i>
  </mat-card>

  <mat-card class="action mat-elevation-z2" matRipple>
    Zaproś użytkownika
    <i class="fas fa-user-plus right"></i>
  </mat-card>

  <mat-card class="action mat-elevation-z2" matRipple>
    Tło
    <i class="fas fa-image right"></i>
  </mat-card>


</div>
